.favorites-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.favorite-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bk-color {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }