/* Mobile-specific styles */
@media (max-width: 768px) {
    .mobile-top-bar {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 10px;
        z-index: 1030;
    }

    .mobile-top-bar .btn {
        width: 48%;
    }

    .collapse {
        margin-top: 5px;
        z-index: 1020;
    }

    /* Navbar dropdown fix */
    .navbar .dropdown-menu {
        z-index: 1050;
    }
}

/*Large screens */
@media (min-width: 769px) {
    .mobile-top-bar {
        display: none;
    }
}

